<h1>Welcome</h1>
<p>This is a multiplayer game based on Conways Game of life.</p>
<form id='player_form'>
  <label for="name">Enter a username to get started looking for someone to play against</label>
  <input id='name' class='name_bar' type="text" value='<%= @current_user.player.name %>'>
</form>
<p id="welcome"></p>
<p id='oponent'></p>

