<div class="gameContainer">
  <div id='current_user' data-user-id='<%= @current_user.id %>'></div>
<button type='button' id='find_opponent' class="find_match">Find Opponent</button>
<div id='finding_opponent'></div>


</div>
<div id="cursor"></div>