<h1 id='current_user' data-user-id='<%= @current_user.id %>'>Welcome, <%= @current_user.player.name %></h1>
<p>This is a multiplayer game based on Conways Game of life.</p>
<div class="find_match">Find Opponent</div><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
<p id="welcome"></p>
<p id='oponent'></p>

<table class='gameTable'>
  <tbody id='gameTableBody'>
  </tbody>
</table>
<div id="gameButtons"></div>