<div class="gameContainer">
  <div id='current_user' data-user-id='<%= @current_user.id %>'></div>
<button type='button' id='find_opponent' class="find_match">Find Opponent</button>
<div id='finding_opponent'></div>

<div class="row">
  <div class="col-xs-8">
    <table class='gameTable'>
      <tbody id='gameTableBody'>
      </tbody>
    </table>
  </div>
  <div id="palletDiv" class="col-xs-4">
    
  </div>
</div>
<div id="cursor"></div>
<!-- </div> -->