<h5 class="player-name">Player One: {{playerOne}}</h5>
<table class='gameTable'>
  <hr class="territory_seperator one"></hr>
  <hr class="territory_seperator two"></hr>
  <tbody id='gameTableBody'>
  </tbody>
</table>
<h5 class="player-name">Player Two: {{playerTwo}}</h5>
<div id="palletDiv" class=""></div>