<div class='row' id="structures">
  
</div>
<table class='palletTable' id='palletTable'>
  <tbody id='palletTableBody'>
  </tbody>
</table>
<div id="gameButtons">
  <button id='copy_button' type='button'>Copy</button>
  <button id='clear_pallet' type='button'>Clear</button>
  <button id='flip_y' type='button'>K</button>
  <button id='flip_x' type='button'>^</br>|</br>v</button>
  <div id='playerCells'></div>
</div>