<div class='structure {{className}}-div'>
  <div class='structure-inner-div'>
    <table class='structureTable'>
      <tbody class='{{className}}'>
      </tbody>
    </table>
    <h4>{{name}}</h4>
  </div>
</div>