.gameTable {
  background-color: gray;
}
.cell {
  background-color: white;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
}
/*.palletTable .cell {
  width: 15px;
  height: 15px;
}*/
.alive {
  background-color: black;
}
.one-territory {
  background-color: #889;
}
.two-territory {
  background-color: #988;
}
.one-alive {
  background-color: #009;
}
.two-alive {
  background-color: #900;
}
.three-alive {
  background-color: #099;
}
.four-alive {
  background-color: #990;
}
#cursor {
  pointer-events:none;
  filter:alpha(opacity=50);
  opacity:0.5;
  display: none;
  position: absolute;
  z-index: 100;
}